Importing the neccessary libary

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

Inputing the cleaned dataset

In [ ]:
data = pd.read_csv('/content/clean.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Creating db engine(Instance) with the name pollution_db2

In [ ]:
# Create the db engine
pollution_db2 = create_engine('sqlite:///:memory:')

Populating the database instance with the clean.csv created earlier

In [ ]:
# Store the dataframe as a table
data.to_sql('data_table', pollution_db2)

quering  the database to know if it is populated with the clean

In [ ]:
# Query 1 on the relational table
res1 = pd.read_sql_query('SELECT * FROM data_table', pollution_db2)
print('Result 1')
print(res1)
print('')

Result 1
       index  Unnamed: 0                  Date Time    NOx    NO2     NO  \
0          0           0  1998-02-08T04:00:00+00:00  31.00  23.00   5.00
1          1           1  1998-02-08T01:00:00+00:00  69.00  52.00  11.00
2          2           2  1998-02-07T16:00:00+00:00    NaN    NaN    NaN
3          3           3  1998-02-07T14:00:00+00:00    NaN    NaN    NaN
4          4           4  1998-02-07T08:00:00+00:00  55.00  36.00  13.00
...      ...         ...                        ...    ...    ...    ...
93242  93242       93242  2022-07-13T21:00:00+00:00  41.75  30.25   7.75
93243  93243       93243  2022-07-14T06:00:00+00:00  72.00  31.00  26.75
93244  93244       93244  2022-07-14T20:00:00+00:00  16.75  11.50   3.50
93245  93245       93245  2022-07-15T03:00:00+00:00  10.50   9.50   0.50
93246  93246       93246  2022-07-15T05:00:00+00:00  25.25  18.50   4.25

       SiteID  PM10  NVPM10  VPM10  ...  SO2  Temperature     RH  \
0         188  10.0     NaN    NaN  ...  3.0          NaN    NaN
1         188  21.0     NaN    NaN  ...  5.0          NaN    NaN
2         209   NaN     NaN    NaN  ...  NaN          NaN    NaN
3         209   NaN     NaN    NaN  ...  NaN          NaN    NaN
4         188  22.0     NaN    NaN  ...  8.0          NaN    NaN
...       ...   ...     ...    ...  ...  ...          ...    ...
93242     215   NaN     NaN    NaN  ...  NaN          NaN  0.011
93243     215   NaN     NaN    NaN  ...  NaN          NaN  0.010
93244     215   NaN     NaN    NaN  ...  NaN          NaN  0.010
93245     215   NaN     NaN    NaN  ...  NaN          NaN  0.010
93246     215   NaN     NaN    NaN  ...  NaN          NaN  0.010

       Air Pressure              Location  \
0              None   AURN Bristol Centre
1              None   AURN Bristol Centre
2              None              IKEA M32
3              None              IKEA M32
4              None   AURN Bristol Centre
...             ...                   ...
93242          None  Parson Street School
93243          None  Parson Street School
93244          None  Parson Street School
93245          None  Parson Street School
93246          None  Parson Street School

                               geo_point_2d                  DateStart  \
0              51.4572041156,-2.58564914143                       None
1              51.4572041156,-2.58564914143                       None
2              51.4752847609,-2.56207998299  1998-01-10T00:00:00+00:00
3              51.4752847609,-2.56207998299  1998-01-10T00:00:00+00:00
4              51.4572041156,-2.58564914143                       None
...                                     ...                        ...
93242  51.43267570732794,-2.604956656683554  2002-02-01T00:00:00+00:00
93243  51.43267570732794,-2.604956656683554  2002-02-01T00:00:00+00:00
93244  51.43267570732794,-2.604956656683554  2002-02-01T00:00:00+00:00
93245  51.43267570732794,-2.604956656683554  2002-02-01T00:00:00+00:00
93246  51.43267570732794,-2.604956656683554                     2002-0

                         DateEnd Current         Instrument Type
0                           None     0.0  Continuous (Reference)
1                           None     0.0  Continuous (Reference)
2      2000-02-06T00:00:00+00:00     0.0  Continuous (Reference)
3      2000-02-06T00:00:00+00:00     0.0  Continuous (Reference)
4                           None     0.0  Continuous (Reference)
...                          ...     ...                     ...
93242                       None     1.0  Continuous (Reference)
93243                       None     1.0  Continuous (Reference)
93244                       None     1.0  Continuous (Reference)
93245                       None     1.0  Continuous (Reference)
93246                       None     NaN                    None

[93247 rows x 25 columns]

In [27]:

# Query  on the relational table
#res2 = pd.read_sql_query('SELECT DATEDIFF(day,DateTime,01-01-2019) FROM data_table WHERE PM2.5 = (SELECT AVG(PM2.5) FROM data_table) AND VPM2.5 = (SELECT AVG(VPM2.5) FROM data_table)',  pollution_db2)
#print('Result 2')
#print(res2)
#print('')

In [28]:
# Write the file out again
#with open('Query_a.sql', 'w') as file:
  #file.write(res2)